:root {
  --font-Montserrat: 'Montserrat', sans-serif;
  --font-OpenSans: 'Open Sans', sans-serif;
  --font-RobotoSlab: 'Roboto Slab', sans-serif;
  --text-color24: #242424;
  --text-color: #FDFDFD;
  --button-color: #068DAA;
  --secondblue-color: #C8E5EB;
  --circle-color: #ECECEC;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--text-color);
  z-index: 7;
}

img {
  display: block;
  max-width: 100%;
}

header {
  position: sticky;
  top: 0;
  z-index: 4;
}

header .header-wrap {
  padding-block: 24px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.6);
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
  max-width: 1920px;
  padding-inline: 64px;
}

.thirdpage {
  position: relative;
  border-top: 1px solid var(--secondblue-color);
  border-bottom: 1px solid var(--secondblue-color);
}

.thirdpagewrap {
  display: flex;
  justify-content: center;
  margin: auto;
}

.circles {
  position: relative;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--secondblue-color);
  gap: 30px;
  padding: 120px 89px 140px 0px;
}

.socialmedia1 {
  position: relative;
  transition: all 0.3s ease-in;

}

.socialmedia1::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in;
  transform: scale(1);
  border: 1px solid #F3FBFD;
  border-radius: 70px;
  z-index: -1;
}

.socialmedia1:hover::before {
  background-color: #F3FBFD;
}

.socialmedia1:hover {
  transform: scale(1.1);
}

.socialmedia1:hover circle {
  stroke: #068DAA;
}

.socialmedia1 circle,
g,
.g1 {
  transition: all 0.3s ease-in;
}

.ourcontacts {
  display: flex;
  flex-direction: column;
  padding: 90px 0px 89px 120px;
}

.orderbutunder {
  font-family: var(--font-OpenSans);
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: var(--button-color);
  padding: 20px 24px;
  gap: 10px;
  background-color: var(--secondblue-color);
  border: 1px solid var(--secondblue-color);
  border-radius: 4px;
  transition: all 0.3s ease-in;
}

.orderbutunder:hover {
  font-family: var(--font-OpenSans);
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: var(--button-color);
  padding: 20px 24px;
  gap: 10px;
  background-color: transparent;
  border: 1px solid var(--button-color);
  border-radius: 4px;
  cursor: pointer;
}

.txtour {
  font-family: var(--font-RobotoSlab);
  font-weight: 400;
  font-size: 48px;
  line-height: 52px;
  color: var(--text-color24);
  margin-bottom: 64px;
}

.txtour b {
  font-family: var(--font-RobotoSlab);
  font-weight: 400;
  font-size: 48px;
  line-height: 52px;
  color: var(--button-color);
}

.txtschedl {
  font-family: var(--font-OpenSans);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--button-color);
}

.txtdays {
  font-family: var(--font-OpenSans);
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: var(--text-color24);
}

.txtadrs {
  font-family: var(--font-OpenSans);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--button-color);
}

.txtcity {
  font-family: var(--font-OpenSans);
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: var(--text-color24);
}

.txtsupp {
  font-family: var(--font-OpenSans);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--button-color);
}

.txtnum {
  font-family: var(--font-OpenSans);
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  text-decoration: underline;
  color: var(--text-color24);
}

.txtemail {
  font-family: var(--font-OpenSans);
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: var(--text-color24);
}

.schedule {
  gap: 4px;
  margin-bottom: 68px;
}

.adress {
  gap: 4px;
  margin-bottom: 32px;
}

.support {
  margin-bottom: 16px;
}

.numemail {
  gap: 4px;
  margin-bottom: 64px;
}

.mobile-menu {
  display: none;
}