
header .header-wrap {
  border-bottom: 1px solid var(--circle-color);
  margin-bottom:0px;
  background-color: rgb(255, 255, 255);
}
footer {
  display: flex;
  align-items: center;
  max-width: 1920px;
  justify-content: center;
  padding-block: 20px;
  border-top: 1px solid var(--circle-color);
}

footer h1 {

  font-family: var(--font-OpenSans);
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-color24);
}

.headwrap {
  display: flex;
  gap: 0 40px;
  align-items: center;
}

.headmenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  gap: 32px;
}

.headmenu li {
  display: inline-block;
}

.headmenu li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  font-family: var(--font-Montserrat);
  color: var(--text-color24);
}

.number {
  display: flex;
  align-items: center;
  font-family: var(--font-OpenSans);
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--text-color24);
  padding-left: 40px;
  border-left: 1px solid #ECECEC;
  height: 36px;
}

.order2 {
  background-color: var(--button-color);
  border: 1px solid #068DAA;
  border-radius: 4px;
  font-family: var(--font-OpenSans);
  color: var(--text-color);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  width: 145px;
  height: 44px;
}

.order {
  background-color: var(--button-color);
  border: 1px solid #068DAA;
  border-radius: 4px;
  font-family: var(--font-OpenSans);
  color: var(--text-color);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  width: 145px;
  height: 44px;
  transition: all 0.3s ease-in;
}

.order:hover {
  background-color: transparent;
  border: 1px solid #068DAA;
  border-radius: 4px;
  font-family: var(--font-OpenSans);
  color: var(--button-color);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  width: 145px;
  height: 44px;
  cursor: pointer;
}

.order2 {
  display: none;
}

.burger2 {
  display: none;
}

.first-section {
  display: flex;
  justify-content: center;
}

.first-wrap {
  border-left: 1px solid var(--circle-color);
  padding-left: 100px;
}

.first-sectionwrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  width: 100%;
  padding-inline: 106px;
  height: calc(100vh - 101px);
}

.first-sectionwrap ul {
  display: flex;
  gap: 80px;
  list-style-type: none;
  flex-direction: column;
}

.first-sectionwrap li {
  position: relative;
}

.first-sectionwrap li b {
  color: var(--button-color);
  font-weight: 400;
}

.first-sectionwrap li a {
  text-decoration: none;
  font-family: var(--font-RobotoSlab);
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: var(--text-color24);
}

.first-sectionwrap .text-left {
  font-family: var(--font-RobotoSlab);
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  opacity: 0.4;
  margin-bottom: 21px;
}

.first-sectionwrap .text-left::before {
  background-color: var(--button-color);
  content: "";
  height: 1px;
  left: -70px;
  margin-right: 40px;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 40px;
}

.first-sectionwrap .discription {
  font-family: var(--font-OpenSans);
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  display: none;
  color: var(--text-color24);
}

.first-sectionwrap .svg-behind {
  opacity: 0;
  position: absolute;
  left: -15px;
  top: 0;
  transform: translateY(-80px);
  z-index: -1;
  height: 160px;
  width: 160px;
  stroke: rgba(6 141 170/20%);
}

.first-sectionwrap .active .text-left {
  opacity: 1;
  font-size: 48px;
  line-height: 42px;
}

.first-sectionwrap .active .discription {
  display: block;
}

.first-sectionwrap .active .svg-behind {
  opacity: 0.3;
}

.first-sectionwrap .active .text-left::before {
  opacity: 1;
}

.first-wrap-right {
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 42px;
  max-width: 556px;
  height: calc(100vh - 101px);
}

.first-block-wrap {
  display: flex;
  flex-direction: column;
  max-width: 556px;
  height: calc(100vh - 101px);
  padding: 64px 0 48px;
}

.firstblocktop {
  display: flex;
  border: 1px solid var(--circle-color);
  margin-bottom: 32px;
}

.textintopblock {
  border-right: 1px solid var(--circle-color);
  padding-block: 32px;
  padding-inline: 32px 52px;
}

.textintopblock h1 {
  font-family: var(--font-RobotoSlab);
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: var(--text-color24);
}

.textintopblock h1 b {
  font-weight: 400;
  color: var(--button-color);
}

.textintopblock h2 {
  font-family: var(--font-OpenSans);
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.imgintopblock {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 52px;
}

.imgintopsvg path {
  stroke: var(--button-color);
}

.textunderfirstblock {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.list {
  display: flex;
  gap: 20px;
}

.list h1 {
  display: flex;
  font-family: var(--font-OpenSans);
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  gap: 32px;
}

.buttoninfirstblock {
  padding: 20px 24px;
  gap: 10px;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  font-family: var(--font-OpenSans);
  color: var(--button-color);
  background-color: var(--secondblue-color);
  border: 1px solid var(--secondblue-color);
  border-radius: 4px;
  transition: all 0.3s ease-in;
  margin-top: auto;
}

.buttoninfirstblock:hover {
  padding: 20px 24px;
  gap: 10px;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  font-family: var(--font-OpenSans);
  color: var(--button-color);
  background-color: transparent;
  border: 1px solid var(--button-color);
  border-radius: 4px;
}

.description-bottom {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 72px;
}

.description-bottom h1 {
  font-family: var(--font-RobotoSlab);
  font-weight: 400;
  font-size: 32px;
  line-height: 30px;
}

.description-bottom h2 {
  font-family: var(--font-OpenSans);
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
}

.textbottom {
  display: flex;
  flex-direction: column;
}

.textbottom p1 {
  font-family: var(--font-OpenSans);
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 24px;
}

.textbottom p2 {
  font-family: var(--font-OpenSans);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 12px;
}

.textbottom p3 {
  font-family: var(--font-OpenSans);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 24px;
}

.textbottom p4 {
  font-family: var(--font-OpenSans);
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}

.mobile-menu {
  display: none;
}

@media(max-width:1080px) {
  header .header-wrap {
    border: none;
    padding-inline: 24px;
    padding: bottom 0px;
    padding-top: 24px;
  }

  .headmenu {
    font-family: var(--font-Montserrat);
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    row-gap: 48px;
    font-size: 24px;
    line-height: 26px;
  }

  .headwrap {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 24px;
    padding-bottom: 24px;
    background-color: white;

  }

  .number {
    display: none;
  }

  .burger {
    display: block;
    background: transparent;
    border: none;
  }

  .burger2 {
    display: block;
    position: absolute;
    background: transparent;
    border: none;
    top: 24px;
    right: 14px;
  }

  .order {
    width: 100%;
    height: 44px;
    margin-bottom: 16px;
  }

  .order2 {
    display: block;
    width: 100%;
    height: 44px;
    background-color: var(--secondblue-color);
    border: 1px solid #C8E5EB;
    border-radius: 4px;
    color: var(--button-color);

  }

  .mobile-menu {
    display: flex;
    align-items: center;
    column-gap: 12px;
  }

  .mobile-menu .order-btn {
    width: 83px;
    height: 28px;
    margin-bottom: 0px;
  }

  .header-wrap .logo {
    max-width: 107px;
  }

  .first-sectionwrap {
    flex-direction: column;
    padding-inline: 0;
    height: calc(100vh - 78px);
  }

  .first-sectionwrap ul {
    flex-direction: row;
    padding-top: 40px
  }

  .first-sectionwrap .text-left::before {
    display: none;
  }

  .first-sectionwrap .active .text-left {
    font-size: 24px;
    line-height: 32px;
  }

  .first-sectionwrap .active .discription {
    display: none;
  }

  .first-sectionwrap .svg-behind {
    left: 0;
    transform: translateY(-35px);
    height: 70px;
    width: 70px;
  }

  .first-sectionwrap .text-left {
    font-size: 16px;
    line-height: 32px;
  }

  .first-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--circle-color);
    border-left: none;
    padding-left: 0;
  }

  .firstblocktop {
    display: none;
  }
}
@media(max-width:768px){
  
}
@media(max-width:320px) {
  .mobile-menu {
    display: flex;
    align-items: center;
    column-gap: 12px;
  }

  .first-sectionwrap ul {
    flex-direction: column;
    align-items: center;
  }

  .first-wrap-right {
    padding-inline: 24px;
    padding-right: 0px;
  }
}