:root{
    --font-Montserrat: 'Montserrat' , sans-serif;
    --font-OpenSans: 'Open Sans' , sans-serif;
    --font-RobotoSlab: 'Roboto Slab' , sans-serif;
    --text-color24: #242424;
    --text-color: #FDFDFD;
    --button-color:#068DAA;
    --secondbut-color:#C8E5EB;
}
*{
    box-sizing:border-box;
    margin:0px;
    padding:0px;
}

body{
    background-image: url(img/icon.jpg);
    background-repeat: no-repeat;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:24px 64px 0;
}
.nmenu{
    list-style-type:none;
    gap:32px;
}
ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
li{
    display: inline-block;
}
li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    font-family:var(--font-Montserrat);
    color:var(--text-color24);
}
.number{
    font-family:var(--font-OpenSans);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color:var(--text-color24);
}
.order{
    background-color: var(--button-color);
    border: 1px solid #068DAA;
    border-radius: 4px;
    font-family:var(--font-OpenSans);
    color:var(--text-color);
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    width: 145px;
    height: 44px;
}
.text{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    margin:225px 240px 472px 240px;

}
.textdez{
    font-family:var(--font-RobotoSlab);
    font-weight:400;
    font-size:64px;
    line-height:64px;
    color:var(--text-color24);
}
.dez{
    font-family:var(--font-RobotoSlab);
    font-weight:400;
    font-size:64px;
    line-height:64px;
    color:var(--button-color);
}  
.textunderdez{
    font-family:var(--font-OpenSans);
    font-weight: 300;
    font-size:16px;
    line-height: 28px;
    color:var(--text-color24);
}
.services{
    padding: 16px 24px;
    gap: 10px;
    background-color:var(--secondbut-color);
    border: 1px solid #C8E5EB;
    border-radius: 4px;
    color:var(--button-color);
    font-family:var(--font-OpenSans);
    font-weight:600;
    font-size:12px;
}
menu{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 64px;
}
div img{
    width: 704px;
    Height:801.44px;
}

