@font-face {
  font-family: Roboto;
  src:url('../fonts/Roboto-Bold.ttf');
}
@font-face {
  font-family: Robotothin;
  src:url('../fonts/Roboto-Thin.ttf');
}
@font-face {
  font-family:Robotobold;
  src:url('../fonts/Roboto-Regular.ttf');

}
@font-face {
    font-family:Robotoi;
    src:url('../fonts/Roboto-Italic.ttf');
  }
body{
  background-image: url(img/icon.jpg);
  background-repeat: no-repeat;
}
.heads{
  position:relative;
  display:block;
  justify-content: space-between;
}
.clear{
  clear:both;
}
.left{
  float:left;
  font-size:14px;
}
.right{
  float:right;
  font-size:0;
}
nav{
display:inline-block;
margin:0px;
padding:0px;
}
nav ul{
  list-style: none;
}
nav li{
  display:inline-block;
  font-family:Robotobold;
  font-size:14px;
}
li:not(:last-child){
  margin-right:20px;
}
li a:link{
color:#242424;
}
li a:visited{
  color:black;
}
li a:hover{
  color:red;
  font-size:16px;
  transition: all 0.5s ease-in-out;
}
.link{
text-decoration:none;
color:#242424;
font-family:Arial, Helvetica, sans-serif;
}
.class1{
  padding:0;
  background-color: #068DAA;
  width:100px;
  height:30px;
  margin: 9px 0px 0px 15px;
  border:none;
  font-family:Montserrat;
  border-radius: 10px;
}
.class1 a{
  color:white;
  text-decoration:none;
  font-weight:600;
  font-family:Arial, Helvetica, sans-serif;
  font-size:14px;
}
.class1:hover{
  background-color: #035264;
  transition: all 0.15s ease-in-out;
}
.class1 a:hover{
  color:black;
  transition: all 0.15s ease-in-out;
}
.logo{
  text-decoration:none;
  display:inline-block;
  color:#068DAA;
  font-size:16px;
  font-family:Arial, Helvetica, sans-serif;
}
.logobotton{
  text-decoration:none;
  display:flex;
  color:#068DAA;
  font-size:16px;
  font-family:Arial, Helvetica, sans-serif;
}
.eagle{
  float:left;
  height:50px;
  width:50px;
  display:flex;
  margin-right:20px;
  flex-flow:row nowrap;
}
table{
  width: 600px;
}
th , td{
padding: 10px;
}
th{
  background-color: orange;
}
tr:hover{
  background-color:rgb(246, 211, 146);
  transition: all 0.5s ease-in-out;
}
.table2{
  width: 600px;
}
.second , .secondth{
  padding:10px;
}
.secondth{
  background-color: orange;
  color:white;
}
p{
  font-family:Robotobold;
  font-weight:500;
}
.p{
  font-family:Robotoi;
  font-weight:700;
}
.p2{
  font-family:Roboto;
  font-weight:800;
}
.p3{
  font-family:Robotothin;
  font-weight:100;
}