*{
  box-sizing:border-box;
}
:root {
  --font-helvetica: 'Lato', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --logo-color: #068DAA;
  --hover-color:#035264;
  --linkh-color:red;
  --link-color:#242424;
}
body{
  background-image: url(img/icon.jpg);
  background-repeat: no-repeat;
  font-family:var(--font-roboto)
}
.heads{
  position:relative;
  display:block;
  justify-content: space-between;
}
.clear{
  clear:both;
}
.left{
  float:left;
  font-size:14px;
}
.right{
  float:right;
  font-size:0;
}
nav{
display:inline-block;
margin:0px;
padding:0px;
}
nav ul{
  list-style: none;
}
nav li{
  display:inline-block;
  font-size:14px;
}
li:not(:last-child){
  margin-right:20px;
}
li a:link{
color:#242424;
}
li a:visited{
  color:black;
}
li a:hover{
  color:var(--linkh-color);
  font-size:16px;
  transition: all 0.5s ease-in-out;
}
.link{
text-decoration:none;
color:var(--link-color);
}
.class1{
  padding:0;
  background-color:var(--hover-color);
  width:100px;
  height:30px;
  margin: 9px 0px 0px 15px;
  border:none;
  border-radius: 10px;
}
.class1 a{
  color:white;
  text-decoration:none;
  font-weight:600;
  font-size:14px;
}
.class1:hover{
  background-color:var(--logo-color);
  transition: all 0.15s ease-in-out;
}
.class1 a:hover{
  color:black;
  transition: all 0.15s ease-in-out;
}
.logo{
  text-decoration:none;
  display:inline-block;
  color:var(--logo-color);
  font-size:16px;
}
.logobotton{
  text-decoration:none;
  display:flex;
  color:var(--logo-color);
  font-size:16px;
}
.eagle{
  float:left;
  height:50px;
  width:50px;
  display:flex;
  margin-right:20px;
  flex-flow:row nowrap;
}
table{
  width: 600px;
}
th , td{
padding: 10px;
}
th{
  background-color: orange;
}
tr:hover{
  background-color:rgb(246, 211, 146);
  transition: all 0.5s ease-in-out;
}
.table2{
  width: 600px;
}
.second , .secondth{
  padding:10px;
}
.secondth{
  background-color: orange;
  color:white;
}
p{
  font-weight:500;
}
div p::first-letter{
  font-size:60px;
}
div p::first-line{
  font-style:italic;
}
.p{
  font-weight:700;
}
.p2{
  font-weight:800;
}
.p3{
  font-style:italic;
  font-weight:100;
}